.module {
  @extend .box-content;

  font-size: 13px;
  padding: 10px;

  ul {
    list-style: none;
    padding: 0;
  }

  li { margin-bottom: 15px; }
}

.module-title {
  color: #444;
  border-bottom: 1px solid #d2d2d2;
  font-size: 20px;
  text-transform: capitalize;
}

// Related posts
.related-post-title { font-weight: normal; }

// Tag cloud
.tag {
  @include inline-block;
}

.tag-0 {
  font-size: 180%;
}

.tag-1 {
  font-size: 160%;
}

.tag-2 {
  font-size: 120%;
}

@media #{$phone} {
  .sidebar { margin-bottom: 40px; }
}
