@import "compass/css3";

.pagination {
  margin-bottom: 20px;
  text-align: center;

  a {
    @extend .box;
    @include inline-block;

    color: #333;
    margin-left: 10px;
    padding: 5px 10px;

    &:first-child { margin-left: 0; }

    &.actual-page,
    &:hover {
      background: $primary-color;
      color: white;
    }
  }
}

@media #{$phone} {
  .pagination { margin-bottom: 40px; }
}
