<article class="entry">

    <header class="entry-header">
        <h1 class="entry-title">
			<a href="{{ SITEURL }}/{{ article.url }}" title="Read more" class="entry-title-link">
                {{ article.title }}</a>
        </h1>

        <div class="entry-date">
            <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </div>

		{% if article.author and article.tags %}
		<div class="entry-meta">
			{% if article.author %}
			<span class="meta entry-author">
				<span class="icons icons-author"></span>
				<a href="{{ SITEURL }}/{{ article.author.url }}" title="Read more posts from {{ article.author }}" class="meta-link">{{ article.author }}</a>
			</span>
			{% endif %}

			{% if article.tags %}
			<span class="meta entry-tags">
				<span class="icons icons-category"></span>
				{% for tag in article.tags %}
					<a href="{{ tag.url }}" title="Read more with the label {{ tag }}" class="meta-link">{{ tag }}</a> 
				{% endfor %}
			</span>
			{% endif %}
		</div>
		{% endif %}
    </header>

    <div class="entry-content">
        {% if show_complete %}
            {{ article.content }}
        {% else %}
            {{ article.summary }}
        {% endif %}
    </div>

    {% if show_complete %}
        {% if DISQUS_SITENAME and article %}
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = "{{ DISQUS_SITENAME }}";
                var disqus_identifier = "{{ article.url }}";

                (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </script>
        {% endif %}
    {% else %}
        <footer>
            <a href="{{ SITEURL }}/{{ article.url }}" title="Read more" class="entry-read-more">Read more</a>
        </footer>
    {% endif %}

    <div class="clearfix"></div>

</article>
<!-- /.entry -->
