<div class="pure-u-2-3 copyright">
    <p class="l-box">
        The content of this blog in under
        <a href="{{ LICENSE_URL }}"
            title="{{ LICENSE_TITLE }}">{{ LICENSE }}</a> License.

        The source code is available on <a href="{{ SOURCE_CODE_URL }}" title="Contribute through {{ SOURCE_CODE_REPOSITORY }}">{{ SOURCE_CODE_REPOSITORY }}</a>.
    </p>
</div>

<div class="pure-u-1-3 credits">
    <p class="l-box">
        Design by <a href="http://www.templateify.com/" title="Maggner Theme">Templateify</a>.
    </p>
</div>
