<p class="pure-u-2-3 copyright">
    O conteúdo deste blog está sob a licença
    <a href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR" title="Compartilhe, modifique, usufrua. Mas mencione o autor">Creative Commons Atribuição 3.0</a>.

    O código-fonte está disponível no <a href="https://github.com/kplaube/blog" title="Contribua através do GitHub">GitHub</a>.
</p>

<p class="pure-u-1-3 credits">
    Design by <a href="http://www.templateify.com/" title="Tema Maggner">Templateify</a>.
</p>
