<!DOCTYPE>
<html lang="{{ DEFAULT_LANG }}" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ SITESUBTITLE }}{% endblock %} | {% block sitename %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ SITEDESCRIPTION }}{% endblock %}">
    <meta name="robots" content="{% block robots %}index,follow{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/images/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="{{ SITENAME }} &raquo; Feed" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" />
    <link rel="canonical" href="{% block canonical_url %}{{ SITEURL }}/{{ page_name }}{% if articles_page and articles_page.number != 1 %}{{ articles_page.number }}{% endif %}.html{% endblock %}">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css">
    <script src="{{ SITEURL }}/theme/js/vendor/modernizr-2.7.1.min.js"></script>
</head>
<body>
<div id="page" class="{% block page_css %}{% endblock %}">
    <header class="pure-g-r header">
        <div class="pure-u-1">
            <div class="wrapper">
                <div class="l-box">
                    <h1><a href="{{ SITEURL }}/index.html" title="Página inicial" class="logo">Klaus <span class="secondary">Laube</span></a></h1>

                    <a href="#" class="ad"><img src="{{ SITEURL }}/theme/img/ad.png" alt="Ad"></a>
                </div>
            </div>

            {% include "includes/menu.html" %}
        </div>
    </header>

    <div class="pure-g-r wrapper">
        <section class="content pure-u-17-24">
            <div class="l-box">
                {% block content %}{% endblock %}
            </div>
        </section>

        <aside class="sidebar pure-u-7-24">
            <div class="l-box">
                {% include "includes/sidebar.html" %}
            </div>
        </aside>
    </div>

    <section class="pure-g-r footer">
        {% include "includes/footer.html" %}
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

    <script src="{{ SITEURL }}/theme/js/main.js" async="true"></script>


    {% if GOOGLE_ANALYTICS %}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ GOOGLE_ANALYTICS }}');ga('send','pageview');
        </script>
    {% endif %}
</div>
</body>
</html>
